body {
  font-family: sans-serif;
  background-color: #fafafa;
}

input {
  border-radius: 7px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 7px;
  border: none;
  padding: 4px 16px;
  margin: 0 5px;
  height: 30px;
}

button:hover {
  background-color: #dedede;
  color: #ffffff;
  cursor: pointer;
}

.input-area {
  background-color: #c1ffff;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 5px;
}

.incomplete-area {
  background-color: #c6ffe2;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 5px;
}

.complete-area {
  background-color: #ffffe9;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 5px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666666;
}

.list-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 4px;
  min-width: 350px;
}

li {
  width: 200px;
  list-style: none;
  margin-right: 8px;
}

.complete-area button {
  margin: 0 35px;
}
